{{> headeradmin}}
<div class="banner text-center">

    <h2>Bienvenido al Modulo de Gestion de Contacto</h2>
</div>
{{> admin}}

<section class="info">
    <div class="mi-flex row">
        <div id="Noticia" class="container">
            <h2>Agregar Informacion de Contacto</h2>
            <div class="row mb-3">
                <div class="col">
                    <form class="form" method="POST" action="/guardarcontacto" action="/contacto">
                        <input class="d-none" type="text" name="idcon">
                        <label for="">Direccion</label>
                        <input class="form-control" type="text" name="txtdire">
                        <label for="">Telefono</label>
                        <input class="form-control" type="text" name="txttele">
                        <label for="">Conmutador</label>
                        <input class="form-control" type="text" name="txtconmu">
                        <label for="">Extencion</label>
                        <input class="form-control" type="text" name="txtext">
                        <label for="">Jefe direccion</label>
                        <input class="form-control" type="text" name="txtjefe">
                        <label for="">Correo Jefe direccion</label>
                        <input class="form-control" type="text" name="txtcorrjefe">
                        <label for="">Secretaria de la division</label>
                        <input class="form-control" type="text" name="txtsecre">
                        <label for="">Correo Secretaria</label>
                        <input class="form-control" type="text" name="txtcorrsecre">
                        <button name="btnAgregarContacto" class="btn btn-primary">Agregar
                            Contacto</button>
                    </form>

                </div>
            </div>

            <!--<button id="btnActualizarContacto" onclick="actualizarContacto()" class="btn btn-warning">Actualizar
                    Contacto</button> -->
        </div>
    </div>
</section>

<div class="container">
    <div class="col">
        <h2>Listado de Contacto</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Direccion</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Conmutador</th>
                        <th scope="col">Extencion</th>
                        <th scope="col">Jefe direccion</th>
                        <th scope="col">Correo jefe</th>
                        <th scope="col">Secretaria division</th>
                        <th scope="col">Correo secretaria</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody name="">
                    {{#each contactos}}
                    <tr>
                        <td>{{direccion}}</td>
                        <td>{{telefono}}</td>
                        <td>{{conmutador}}</td>
                        <td>{{extencion}}</td>
                        <td>{{jefe}}</td>
                        <td>{{correojefe}}</td>
                        <td>{{secre}}</td>
                        <td>{{correosecre}}</td>
                        <td>
                            <button onclick="" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            <button onclick="" class="btn btn-info"><i class="far fa-edit"></i></button>
                        </td>

                    </tr>
                    {{/each}}

                </tbody>
            </table>

        </div>
    </div>
</div>