   <footer class="footer mt-auto py-3">        
            {{#each contactos}}
            <p class="texto-footer text-center">{{direccion}}<br>
                {{telefono}} {{conmutador}} {{extencion}}<br>
                {{jefe}} {{correojefe}}<br>
                {{secre}} {{correosecre}}<br>
                2020.Todos los derechos reservados
            </p>
            {{/each}}   

    </footer>