{{>header}}

<div class="banner text-center">
  <h2>Información Contacto</h2>

</div>

<div>
   {{#each contactos}}
    <p class="texto-footer text-center">{{direccion}}<br>
        {{telefono}} {{conmutador}} {{extencion}}<br>
        {{jefe}} {{correojefe}}<br>
        {{secre}} {{correosecre}}<br>
        2020.Todos los derechos reservados
    </p>
    {{/each}}
</div>

