{{> headeradmin}}
<div class="banner text-center">

    <h2>Bienvenido al Modulo de Gestion de Noticia</h2>
</div>
{{> admin}}

<section class="info">
    <div class="mi-flex row">
        <div id="Noticia" class="container">
            <h2>Agregar Noticia</h2>
            <div class="row mb-3">
                <form class="form" method="POST" action="/guardarNoticia">
                    <!--<input class="d-none" type="text" name="id">-->

                    <label for="">Titulo Noticia</label>
                    <input class="form-control" type="text" name="titulo">

                    <label for="">Descripcion</label>
                    <textarea class="form-control" name="descripcion" rows="3"></textarea>

                    <label for="">Autor</label>
                    <input class="form-control" type="text" name="autor">

                    <label for="">Fecha publicacion</label>
                    <input type="date" id="start" name="fecha_pub"></input> </br>

                    <label for="exampleFormControlFile1">Imagen Noticia</label>
                    <input type="file" class="form-control-file" name="imagen">

                    <button name="btnAgregar" class="btn btn-primary">Agregar Noticia</button>



                    
                </form>
            </div>
        </div>

    </div>
</section>
<div class="container">
    <div class="col">
        <h2>Listado de Noticias</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Autor</th>
                        <th scope="col">fecha_pub</th>
                        <th scope="col">Imagen</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody name="">
                    {{#each noticias}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{Titulo}}</td>
                        <td>{{Descripcion}}</td>
                        <td>{{autor}}</td>
                        <td>{{fecha_pub}}</td>
                        <td>{{imagen}}</td>
                        <form action="/deleteNoticia/{{id}}" method="get">
                            <td>
                                <button type="submit" class="btn btn-danger openBtn" data-toggle="modal"
                                    class="btn btn-danger">
                                    Eliminar
                                </button>
                            </td>
                        </form>
                        <form action="/editNoticia/{{id}}" method="get">
                            <td>
                                <button type="submit" class="btn btn-primary openBtn" class="btn btn-danger">
                                    Editar
                                </button>
                            </td>
                        </form>
                        {{/each}}

                </tbody>

            </table>
        </div>
    </div>
</div>